<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Amazon.Lambda.Core" version="2.2.0" targetFramework="net472" />
  <package id="Amazon.Lambda.Serialization.Json" version="2.2.0" targetFramework="net472" />
  <package id="AWSSDK.Core" version="3.7.302.13" targetFramework="net472" />
  <package id="AWSSDK.Textract" version="3.7.300.52" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
</packages>